name: GitHub Metrics
on:
  schedule:
    - cron: "0 */12 * * *"   # Update twice daily
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: JayeshKakkad-Rotoclear
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Berlin
          
          # Include all repos (personal + organizations, public + private)
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member
          
          # Languages plugin with detailed analysis
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_analysis_timeout: 15
          
          # Notable contributions (shows org work)
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_repositories: yes
          
          # Activity plugin
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all
          
          # Achievements
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          
          # Commit output
          output_action: commit
          committer_branch: main
          committer_message: "chore: update github metrics"
